@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/satisfy-v11-latin-regular.eot');
  src: local(''),
       url('../fonts/satisfy-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/satisfy-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/satisfy-v11-latin-regular.woff') format('woff'),
       url('../fonts/satisfy-v11-latin-regular.ttf') format('truetype'),
       url('../fonts/satisfy-v11-latin-regular.svg#Satisfy') format('svg');
}
